<!-- <h2>Hello world</h2> -->
<button btn btn-primary> hjkh</button>
<table>
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col"> Id</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{post.userId}}</td>
            <td>{{post.id}}</td>
            <td>{{post.tittl}}</td>
            <td>{{post.body}}</td>
        </tr>

    </tbody>
</table>
